@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #363636;
    --color-primary: #dd2e44;
    --color-primary-200: #c0273a;
    --color-primary-300: #a41f30;
    --color-secondary: #55acee;
    --color-secondary-200: #4995cf;
    --color-secondary-300: #3d7fb1;
    --color-tertiary: #03c603;
    --color-tertiary-200: #02ac02;
    --color-tertiary-300: #029202;
}

html,
body {
    height: 100%;
}
